{% extends "base.html" %}

{% block content %}

        <h1>Users</h1>
        <div class="row">
            <table class="table table-hover table-striped table-bordered table-dark col-7">
                <tdead><th scope="col">Full Name</th><th scope="col">Category</th><th scope="col">USD_to_ILS</th><th scope="col">ALL</th><th scope="col">Block</th>
                </tdead>
                <tbody>
                        <tr>
                        <td>lieslvknelwk</td>
                        <td>uysdgvkuwev</td>
                        <td>ygasjhcgiua</td>
                        <td>iaygefkjhweiuov</td>
                        <td>gauehcevoi</td>
                        </tr>
                </tbody>
            </table>
        </div>
{% endblock content %}