<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- load Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% load static %}
    </head>
<body class="bg-secondary">
    <header class="row bg-dark">
        <nav class="navbar navbar-expand-lg navbar-light  col-12">
            <div class="container-fluid bg-dark">
                <div>
                    <img height="50px" src= {% static "img/Asset_24x.png" %}>
                    <a class="navbar-brand text-warning" href="#">The New ✘change</a>
                </div>
                <div class="navbar-nav">
                    {#% if request.session.logged_in %}
                    <a class="nav-link active text-warning" aria-current="page" href="#">Login/Register</a>
                    {#% endif %}
                     {#% if not request.session.logged_in %}
                    <a class="nav-link active text-warning" aria-current="page" href="#">My Profile</a>
                    {#% endif %}
                    <a class="nav-link text-warning" href="#">About Us</a>
                    <a class="nav-link text-warning" href="#">Privacy Policy</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="col-12 ">{% block content %}{% endblock %}</main>
    <footer class="row bg-dark text-warning ">
        <p class="col-12">Contact Info</p>
    </footer>
</body>
</html>