{% extends "base.html" %}

{% block content %}
    <div style="display: flex; align-items: start; justify-content: space-evenly">
        <h1 class="text-dark">Log In</h1>
        <div class="row g-3 align-items-center text-dark">
              <form class="px-4 py-3" action="/log_in" method="post">
                  {% csrf_token %}
                <div class="mb-3">
                  <label class="form-label">Email address</label>
                  <input type="email" class="form-control" name="email" placeholder="email@example.com" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control" name="pw" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-warning">Log in</button>
              </form>
        </div>
        <h1 class="text-dark">Register</h1>
        <div class="row g-3 align-items-center col-auto text-dark">

              <form class="px-4 py-3 " action="/register" method="post">
                  {% csrf_token %}
                <div class="mb-3">
                  <label class="form-label">First Name: </label>
                  <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Last Name: </label>
                  <input type="text" name="last_name" class="form-control" placeholder="Last Name" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Email address</label>
                  <input type="email" name="email" class="form-control" placeholder="email@example.com" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Birth Date: </label>
                  <input type="date" name="birth_date" class="form-control" placeholder="Birth Date" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" name="pw" class="form-control" placeholder="Password" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Confirm PW </label>
                  <input type="password" name="pw_cn"  class="form-control" placeholder="Confirm PW" required>
                </div>
                <button type="submit" class="btn btn-warning">Register</button>
              </form>
        </div>
    </div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}